@{
    ViewData["Title"] = "Dashboard";
}

<div class="overlay"></div>

<div class="myWebsiteLink">
    <a class="myWebsiteLink-text" href="http://www.ashley-gibson.co.uk" target="_self">
        <p>My Website</p>
    </a>
    <a class="myWebsiteLink-icon" href="http://www.ashley-gibson.co.uk" target="_self">
        <object class="myWebsiteLink-svg" type="image/svg+xml" width="25" height="25" data="~/images/worldwide.svg">
            Your browser does not support SVG
        </object>
    </a>
</div>

<div class="dashboardPopup">
    <div class="dashboardPopup-header">
        <a class="dashboardPopup-closeButton" href="javascript:void(0)" onclick="toggleDashboardInfoPopup()"><span class="glyphicon glyphicon-remove"></span></a>
        <p class="dashboardPopup-titleText">Dashboard Documentation</p>
    </div>
    <div class="modal-body">
        <p>This Dashboard is built using the following technologies:</p>
        <ul class="dashboardPopup-parentList">
            <li>C# ASP.NET Core 2.1 (MVC)</li>
            <li>
                Web Services APIs
                <ul class="dashboardPopup-childList">
                    <li>Gets RSS Feed Blogs</li>
                    <li>Queries my MSSQL Database for Certification data</li>
                </ul>
            </li>
            <li>
                MSSQL Database
                <ul class="dashboardPopup-childList">
                    <li>Certification data</li>
                </ul>
            </li>
            <li>HTML, CSS, JavaScript, Bootstrap</li>
            <li>
                P5.js Widgets
                <ul class="dashboardPopup-childList">
                    <li>Guage Widget - Value Display</li>
                    <li>Nested Circles Widget - Value Display</li>
                    <li>Pie Chart Widget - Value Display</li>
                </ul>
            </li>
            <li>
                RSS Feed Blogs
                <ul class="dashboardPopup-childList">
                    <li>Google Developers Blog</li>
                    <li>Kentico Blog</li>
                    <li>TransferWise Product Engineers Blog</li>
                    <li>Visual Studio Developers Blog</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="dashboardPopupButton">
    <a class="dashboardPopupButton-text" href="javascript:void(0)" onclick="toggleDashboardInfoPopup()">
        <p>Dashboard Info</p>
    </a>
    <a class="dashboardPopupButton-icon" href="javascript:void(0)" onclick="toggleDashboardInfoPopup()">
        <object class="dashboardPopupButton-svg" type="image/svg+xml" width="25" height="25" data="~/images/bar-graph.svg">
            Your browser does not support SVG
        </object>
    </a>
</div>

<div class="row">
    <div class="col-md-12 dashboardContainer">
        <div class="col-md-4">
            <p class="widgetTitle">Gauge</p>
            <div class="col-md-12 widgetContainer widgetOne" id="widgetOne">
                <iframe class="gaugeWidget"
                        src="~/widgets/html/GaugeWidget.html"
                        width="135"
                        height="75"
                        scrolling="no"
                        frameborder="0"></iframe>
            </div>
        </div>

        <div class="col-md-4">
            <p class="widgetTitle">Nested Circles</p>
            <div class="col-md-12 widgetContainer widgetTwo" id="widgetTwo">
                <iframe class="nestedCirclesWidget"
                        src="~/widgets/html/NestedCirclesWidget.html"
                        width="140"
                        height="140"
                        scrolling="no"
                        frameborder="0"></iframe>
            </div>
        </div>

        <div class="col-md-4">
            <p class="widgetTitle">Pie Chart</p>
            <div class="col-md-12 widgetContainer widgetThree" id="widgetThree">
                <iframe class="pieChartWidget"
                        src="~/widgets/html/PieChartWidget.html"
                        width="160"
                        height="160"
                        scrolling="no"
                        frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 dashboardContainer">
        <div class="col-md-4">
            <p class="courseTitle">@Html.Raw(ViewData["Certification1Title"])</p>
            <p class="widgetContainer coursesText">
                @Html.Raw(ViewData["Certification1Data"])
            </p>
        </div>
        <div class="col-md-4">
            <p class="courseTitle">@Html.Raw(ViewData["Certification2Title"])</p>
            <p class="widgetContainer coursesText">
                @Html.Raw(ViewData["Certification2Data"])
            </p>
        </div>
        <div class="col-md-4">
            <p class="courseTitle">@Html.Raw(ViewData["Certification3Title"])</p>
            <p class="widgetContainer coursesText">
                @Html.Raw(ViewData["Certification3Data"])
            </p>
        </div>
    </div>
</div>

<div class="col-md-12 googleDevsBlog">
    <div class="googleDevsBlog-header">
        <div class="googleDevsBlog-header-close">
            <a href="javascript:void(0)" onclick="togglePanel('googleDevsBlog')"><span class="glyphicon glyphicongoogleDevsBlog glyphicon-plus"></span></a>
        </div>
        <div class="googleDevsBlog-header-title">
            Google Developers Blog
        </div>
    </div>
    <div class="googleDevsBlog-body">
        @Html.Raw(ViewData["GoogleDevsBlogHtml"])
    </div>
</div>

<div class="col-md-12 kenticoBlog">
    <div class="kenticoBlog-header">
        <div class="kenticoBlog-header-close">
            <a href="javascript:void(0)" onclick="togglePanel('kenticoBlog')"><span class="glyphicon glyphiconkenticoBlog glyphicon-plus"></span></a>
        </div>
        <div class="kenticoBlog-header-title">
            Kentico Blog
        </div>
    </div>
    <div class="kenticoBlog-body">
        @Html.Raw(ViewData["KenticoBlogHtml"])
    </div>
</div>

<div class="col-md-12 transferWiseProdEngBlog">
    <div class="transferWiseProdEngBlog-header">
        <div class="transferWiseProdEngBlog-header-close">
            <a href="javascript:void(0)" onclick="togglePanel('transferWiseProdEngBlog')"><span class="glyphicon glyphicontransferWiseProdEngBlog glyphicon-plus"></span></a>
        </div>
        <div class="transferWiseProdEngBlog-header-title">
            TransferWise Product Engineering Blog
        </div>
    </div>
    <div class="transferWiseProdEngBlog-body">
        @Html.Raw(ViewData["TransferWiseProdEngBlogHtml"])
    </div>
</div>

<div class="col-md-12 visualStudioBlog">
    <div class="visualStudioBlog-header">
        <div class="visualStudioBlog-header-close">
            <a href="javascript:void(0)" onclick="togglePanel('visualStudioBlog')"><span class="glyphicon glyphiconvisualStudioBlog glyphicon-plus"></span></a>
        </div>
        <div class="visualStudioBlog-header-title">
            Visual Studio Developers Blog
        </div>
    </div>
    <div class="visualStudioBlog-body">
        @Html.Raw(ViewData["VisualStudioBlogHtml"])
    </div>
</div>